/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

/* Reset */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:root {
  /* set font-size to base-10 from base-16 */
  font-size: 62.5%;

  /* Variables */
  --main-width-mobile: 375px;
  --main-width-desktop: 1440px;
  --card-width-mobile: 325px;
  --card-width-desktop: 1100px;

  --font-family-inter: "Inter", sans-serif;
  --font-family-lexendDeca: "Lexend Deca", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-white: hsl(0, 0%, 100%);
  --color-white-75: hsla(0, 0%, 100%, 0.75);
  --color-white-60: hsla(0, 0%, 100%, 0.6);
  --color-very-dark-blue: hsl(233, 47%, 7%);
  --color-dark-desaturated-blue: hsl(244, 38%, 16%);
  --color-soft-violet: hsl(277, 64%, 61%);

  --card-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  --card-border-radius: 1rem;
}

/* Project Styles - Mobile First */
body {
  background-color: var(--color-very-dark-blue);
  color: var(--color-white);
  font-family: var(--font-family-lexendDeca);
  font-weight: var(--font-weight-regular);
  font-size: 1.5rem;
  margin: 5vw;
}
main {
  display: grid;
  justify-items: center;
  align-items: start;
  max-width: 100%;
  min-height: 100vh;
}

.card {
  align-items: center;
  background-color: var(--color-dark-desaturated-blue);
  border-radius: var(--card-border-radius);
  text-align: center;
  max-width: var(--card-width-mobile);
  box-shadow: var(--card-box-shadow);
}
.image-container {
  position: relative;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  line-height: 0;
}
.image-container img {
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  width: 100%;
  height: auto;
}
.image-container::after {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--color-soft-violet);
  mix-blend-mode: multiply;
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.card-title {
  color: var(--color-white);
  font-size: 2.6rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-inter);

  margin: 1.5em auto 0.7em auto;
  max-width: 15ch;
}
.card-title em {
  font-style: normal;
  color: var(--color-soft-violet);
}

.card-description {
  display: grid;
  justify-content: center;
  font-family: var(--font-family-inter);
  line-height: 1.7;
  color: var(--color-white-75);
  max-width: 100%;
}
.card-description p {
  max-width: 29ch;
}

.stats {
  display: grid;
  justify-content: center;
  padding: 1em;
  margin: 1.5em 0 0 0;
}

.stat-figure {
  font-size: 2.4rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-inter);
  padding: 0.25em;
}

.stat-label {
  color: var(--color-white-60);
  font-family: var(--font-family-lexendDeca);
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
  body {
    margin: 0;
  }
  main {
    align-items: center;
  }

  .card {
    text-align: left;
    min-width: 800px;
    max-width: var(--card-width-desktop);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
  }

  .image-container {
    grid-area: image;
    border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;
    min-height: 100%;
    background-image: url(../images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  .image-container img {
    opacity: 0;
  }
  .image-container::after {
    border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;
  }

  .card-text-container {
    grid-area: text;
    margin: 7rem 8rem 6rem 8rem;
  }

  .card-title {
    font-size: 3.6rem;
    margin: 0 0 0 0;
    max-width: 17ch;
  }
  .card-title em {
    font-style: normal;
    color: var(--color-soft-violet);
  }

  .card-description {
    display: block;
    max-width: 100%;
  }
  .card-description p {
    max-width: 39ch;
    padding: 1.7em 0 5em 0;
  }

  .stats {
    display: block;
    padding: 0;
    margin: 0 0 0 0;
    align-items: left;
    align-items: left;
    align-self: left;
  }

  .stats li {
    display: inline-block;
    margin-right: 3em;
  }

  .stat-figure {
    padding: 0;
    text-align: left;
  }

  .stat-label {
    margin-bottom: 0;
    text-align: left;
    padding-top: 0.5em;
  }
}
